<!DOCTYPE html>
@{
    var categoriesCount = ViewBag.categoriesCount;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Home 01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="images/icons/favicon.png" />

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css" rel="stylesheet" />

    <link href="~/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <link href="~/vendor/animate/animate.css" rel="stylesheet" />

    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />

    <link href="~/vendor/animsition/css/animsition.min.css" rel="stylesheet" />

    <link href="~/css/util.css" rel="stylesheet" />

    <link href="~/css/main.css" rel="stylesheet" />


    <!-- Slider için arka plan rengi için burası düzenlenecek -->
    <link href="~/css/app.min.css" rel="stylesheet" />

    <style>
        .removeMark::after {
            content: none !important;
        }
        @*mobilde bozuluyor responsive ayarla @media RESPONSİV DEĞİL*@
        .customsize {
            object-fit: cover;
            max-width: 320px;
            max-height: 180px;
        }

        .customsizefirst {
            object-fit: cover;
            max-width: 320px;
            max-height: 240px;
        }

        .customsizesmallimage {
            object-fit: cover;
            max-width: 100px;
            max-height: 75px;
        }

        .customsizefooter {
            object-fit: cover;
            max-width: 80px;
            max-height: 60px;
        }


    </style>

</head>
<body class="animsition">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar">
                       
                      @*Kur bilgisi gelecek*@

                    </div>

                    <div class="right-topbar">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
            <div class="menu-mobile">
                <ul class="topbar-mobile">
                    <li class="left-topbar">
                        <span class="left-topbar-item flex-wr-s-c">
                            <span>
                                New York, NY
                            </span>

                            <img class="m-b-1 m-rl-8" src="images/icons/icon-night.png" alt="IMG">

                            <span>
                                HI 58° LO 56°
                            </span>
                        </span>
                    </li>

                    <li class="left-topbar">
                        <a href="#" class="left-topbar-item">
                            About
                        </a>

                        <a href="#" class="left-topbar-item">
                            Contact
                        </a>

                        <a href="#" class="left-topbar-item">
                            Sing up
                        </a>

                        <a href="#" class="left-topbar-item">
                            Log in
                        </a>
                    </li>

                    <li class="right-topbar">
                        <a href="#">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="#">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>

                <ul class="main-menu-m">
                    <li>
                        <a href="/haberler/google">Google</a>
                    </li>

                    <li>
                        <a href="/haberler/microsoft">Microsoft</a>
                    </li>

                    <li>
                        <a href="/haberler/oyun">Oyun</a>
                    </li>

                    <li>
                        <a href="#">Mobil</a>
                        <ul class="sub-menu-m">
                            <li><a href="/haberler/apple">Apple</a></li>
                            <li><a href="/haberler/samsung">Samsung</a></li>
                            <li><a href="/haberler/xiaomi">Xiaomi</a></li>
                            <li><a href="/haberler/huawei">Huawei</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <a href="/haberler/yapayzeka">Yapay Zeka</a>
                    </li>

                    <li>
                        <a href="/haberler/giyilebilirteknoloji">Giyilebilir Teknoloji</a>
                    </li>

                    <li>
                        <a href="#">Mobil İşletim Sistemleri</a>
                        <ul class="sub-menu-m">
                            <li><a href="/haberler/ıos">IOS</a></li>
                            <li><a href="/haberler/android">Android</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <a href="/haberler/netflix">Netflix</a>
                    </li>
                </ul>
            </div>

            <!--  -->
            <div class="wrap-logo container">
                <!-- Logo desktop -->
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/logo-01.png" alt="LOGO" />
                    </a>
                </div>

                <!-- Banner -->
                <div class="banner-header">
                    <a href="#">
                        <img src="~/images/banner-01.jpg" alt="IMG" />
                    </a>
                </div>
            </div>

            <!--  -->
            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick" href="index.html">
                            <img src="images/icons/logo-01.png" alt="LOGO">
                        </a>

                        <ul class="main-menu">
                            <li class="main-menu-active">
                                <a class="removeMark" href="/haberler/google" style="">Google</a>
                            </li>

                            <li class="mega-menu-item">
                                <a class="removeMark" href="/haberler/microsoft">Microsoft</a>
                            </li>

                            <li class="mega-menu-item">
                                <a class="removeMark" href="/haberler/oyun">Oyun </a>
                            </li>

                            <li class="mega-menu-item">
                                <a href="#">Mobil</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" href="/haberler/apple" role="tab">Apple</a>
                                        <a class="nav-link" href="/haberler/samsung" role="tab">Samsung</a>
                                        <a class="nav-link" href="/haberler/xiaomi" role="tab">Xiaomi</a>
                                        <a class="nav-link" href="/haberler/huawei" role="tab">Huawei</a>
                                    </div>
                                </div>
                            </li>

                            <li class="mega-menu-item">
                                <a class="removeMark" href="/haberler/yapayzeka">Yapay Zeka</a>
                            </li>

                            <li class="mega-menu-item">
                                <a class="removeMark" href="/haberler/giyilebilirteknoloji">Giyilebilir Teknoloji</a>
                            </li>

                            <li class="mega-menu-item">
                                <a href="#">Mobil İşletim Sistemleri</a>

                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" href="/haberler/ıos" role="tab">IOS</a>
                                        <a class="nav-link" href="/haberler/android" role="tab">Android</a>
                                    </div>
                                </div>
                            </li>

                            <li class="mega-menu-item">
                                <a class="removeMark" href="/haberler/netflix">Netflix</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    @{ Html.RenderAction("Footers", "Partials");}

</body>


</html>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="~/vendor/animsition/js/animsition.min.js"></script>

<script src="~/vendor/bootstrap/js/popper.js"></script>

<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="~/js/main.js"></script>
<!-- Slider için-->
<script>
    function appendjs(filepath, callback) {
        if (filepath) {
            var fileref = document.createElement('script');
            fileref.onload = callback;
            fileref.setAttribute("type", "text/javascript");
            fileref.setAttribute("src", filepath);
            if (typeof fileref != "undefined")
                document.getElementsByTagName("head")[0].appendChild(fileref);
        }
    }
</script>


<script src="~/js/slider.js"></script>
<script src="~/js/refresh.js"></script>
<span id="scriptload" style="display:none"></span>
<script defer="defer" src="~/js/app.js"></script>
<script>
    document.getElementById("scriptload").addEventListener("DOMNodeInserted", function () {
        refresh.start();
    });
</script>


